Importando dados e falando analises e predições com Python

In [37]:
import pandas as pd
import requests
import json

In [21]:
df  = pd.read_csv('Salary.csv')

In [22]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

Pergunta 01 - Tamanho do Dataset

In [23]:
# tamanho do DataSet
df.shape

(35, 2)

Pergunta 02 e 03 - Tipo das variaveis

In [43]:
# Endpoint URL
url = 'https://as5jmctylk.execute-api.us-east-1.amazonaws.com/default/demo_forecast'

# Years of experience
data = {'jonas': 5, 'maria': 2, 'miguel':11.4}

# Post request to Machine Learning API
request = requests.post(url, json.dumps(data))

# Extract response as JSON: salary forecast
response = request.json()

print(response)

{'jonas': 72519.23, 'maria': 46323.41, 'miguel': 128403.65}

In [30]:
# tipo de variavel
type(data)

dict

In [44]:
type(response)

dict

Pergunta 04 - Media de variaveis

In [45]:
df.describe()

       YearsExperience         Salary
count        35.000000      35.000000
mean          6.308571   83945.600000
std           3.618610   32162.673003
min           1.100000   37731.000000
25%           3.450000   57019.000000
50%           5.300000   81363.000000
75%           9.250000  113223.500000
max          13.500000  139465.000000

Pergunta 06 e 07 - Maior e menor valor da razao entre as duas variveis

In [48]:
razao = df['Salary'] / df['YearsExperience']
razao.describe()

count       35.000000
mean     15770.651334
std       6035.927914
min      10330.740741
25%      12097.573838
50%      13864.897959
75%      16611.903045
max      35766.363636
dtype: float64

In [ ]:
df['Razao'] = razao
display(df)

Pergunta 08 e 09 - Quantos anos de experiencia tinha a pessoa com a maior e menor razao de salario

In [66]:
df[df['Razao'] == max(df['Razao'])]

   YearsExperience  Salary         Razao
0              1.1   39343  35766.363636

In [67]:
df[df['Razao'] == min(df['Razao'])]

    YearsExperience  Salary         Razao
34             13.5  139465  10330.740741

Pergunta 11 a 14 - API

In [70]:
def api_request(data):

    if isinstance(data, dict):
        request = requests.post(url, json.dumps(data))
    else:
        request = requests.post(url, json.dumps({'unknown': data}))

    return  request.json()

In [72]:
api_request(data)

{'jonas': 72519.23, 'maria': 46323.41, 'miguel': 128403.65}

In [71]:
api_request({"Nome": 15})

{'Nome': 159838.64}

In [76]:
api_request({"Nome": "15"})

'Years of experience of user Nome must be a numeric!'

In [79]:
api_request(0)

{'unknown': 28859.53}

Pergunta 15 - Regressao Linear para saber o Valor de c1

In [82]:
# importando biblioteca para executar a regressao
from sklearn.linear_model import LinearRegression

In [84]:
x = df.YearsExperience.values.reshape(-1, 1)
y = df.Salary.values.reshape(-1, 1)

# variavel que recebe a regressao
regressor = LinearRegression()
regressor.fit(x, y)

LinearRegression()

In [85]:
# verificando o intercept
regressor.intercept_

array([28859.52619453])

In [86]:
# verificando o coeficiente
regressor.coef_

array([[8731.94104706]])

In [88]:
# previsao de um dado com 0 anos de experiencia
previsao = regressor.intercept_ + regressor.coef_ * 0
print(previsao)

[[28859.52619453]]

In [90]:
c1 = regressor.coef_
print(f'O valor de C1: {c1}')

O valor de C1: [[8731.94104706]]