In [101]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [102]:
# dados CSV
df = pd.read_csv('/content/Arquivos Base/bike-sharing.csv')
df = df.set_index('datetime') # seta uma coluna como index
df.sort_index() # ordena por indice
df.head(3)

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
datetime,,,,,,,,,,,,,,,,
2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32

In [103]:
# Tamanho Dataframe
df.shape

(17379, 16)

In [104]:
# Media coluna windspeed
df.windspeed.mean()

0.19009760630646177

In [105]:
# Media coluna Temp
df.temp.mean()

0.4969871684216583

In [106]:
# quantos registro existem para o ano de 2011
df[(df.index >= '2011-01-01') & (df.index < '2012-01-01')]

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
datetime,,,,,,,,,,,,,,,,
2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-31,8641,1,0,12,19,0,6,0,1,0.42,0.4242,0.54,0.2239,19,73,92
2011-12-31,8642,1,0,12,20,0,6,0,1,0.42,0.4242,0.54,0.2239,8,63,71
2011-12-31,8643,1,0,12,21,0,6,0,1,0.40,0.4091,0.58,0.1940,2,50,52
2011-12-31,8644,1,0,12,22,0,6,0,1,0.38,0.3939,0.62,0.1343,2,36,38
2011-12-31,8645,1,0,12,23,0,6,0,1,0.36,0.3788,0.66,0.0000,4,27,31

In [107]:
# quantos registro existem para o ano de 2012
df[(df.index >= '2012-01-01') & (df.index < '2013-01-01')]

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
datetime,,,,,,,,,,,,,,,,
2012-01-01,8646,1,1,1,0,0,0,0,1,0.36,0.3788,0.66,0.0000,5,43,48
2012-01-01,8647,1,1,1,1,0,0,0,1,0.36,0.3485,0.66,0.1343,15,78,93
2012-01-01,8648,1,1,1,2,0,0,0,1,0.32,0.3485,0.76,0.0000,16,59,75
2012-01-01,8649,1,1,1,3,0,0,0,1,0.30,0.3333,0.81,0.0000,11,41,52
2012-01-01,8650,1,1,1,4,0,0,0,1,0.28,0.3030,0.81,0.0896,0,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [108]:
# quantos bicicletas foram alugadas em 2011
x = df[(df.index >= '2011-01-01') & (df.index < '2012-01-01')] 
x.total_count.sum()

1243103

In [109]:
# quantos bicicletas foram alugadas em 2012
x = df[(df.index >= '2012-01-01') & (df.index < '2013-01-01')] 
x.total_count.sum()

2049576

In [110]:
# media de locações por temporada
df.groupby(['season'])["total_count"].mean()

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64

In [111]:
# media de locações por hora
x = df.groupby(['hour'])["total_count"].mean()
x.sort_values()

hour
4       6.352941
3      11.727403
5      19.889819
2      22.869930
1      33.375691
0      53.898072
6      76.044138
23     87.831044
22    131.335165
21    172.314560
10    173.668501
11    208.143054
7     212.064649
9     219.309491
20    226.030220
14    240.949246
15    251.233196
12    253.315934
13    253.661180
19    311.523352
16    311.983562
8     359.011004
18    425.510989
17    461.452055
Name: total_count, dtype: float64

In [112]:
# media de locações por semana
x = df.groupby(['weekday'])["total_count"].mean()
x.sort_values()

weekday
0    177.468825
1    183.744655
6    190.209793
3    191.130505
2    191.238891
5    196.135907
4    196.436665
Name: total_count, dtype: float64

In [113]:
# media de locações as quartas
quarta = df.groupby(['weekday']).get_group(3)
# display(x)
x = quarta.groupby(['hour'])["total_count"].mean()
x.sort_values()

hour
3       4.888889
4       4.968750
2       7.813725
1      15.336538
5      25.750000
0      34.557692
23     83.737864
6     107.807692
10    131.894231
22    143.689320
11    152.201923
14    170.548077
15    181.288462
13    185.826923
12    193.903846
21    194.669903
9     238.528846
20    256.660194
16    272.961538
7     303.980769
19    357.504854
8     488.326923
18    494.029126
17    513.144231
Name: total_count, dtype: float64

In [114]:
# media de locações as quartas
quarta = df.groupby(['weekday']).get_group(6)
# display(x)
x = quarta.groupby(['hour'])["total_count"].mean()
x.sort_values()

hour
4       7.657143
5       8.291262
6      21.000000
3      22.885714
7      45.961905
2      50.495238
1      67.780952
0      94.304762
8     114.476190
23    115.855769
22    139.663462
21    156.000000
20    180.865385
9     186.790476
19    239.932692
10    263.723810
18    292.048077
11    328.609524
17    334.409524
16    366.142857
12    375.380952
14    381.333333
15    382.428571
13    385.371429
Name: total_count, dtype: float64