In [1]:
import pandas as pd
import numpy as np

In [3]:
 df = pd.read_csv('census.csv')

# **Verificando os dados**

In [ ]:
df.head(3)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [ ]:
df.describe()

,age,final-weight,education-num,capital-gain,capital-loos,hour-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
df.shape

(32561, 15)

In [ ]:
df.count()

age               32561
workclass         32561
final-weight      32561
education         32561
education-num     32561
marital-status    32561
occupation        32561
relationship      32561
race              32561
sex               32561
capital-gain      32561
capital-loos      32561
hour-per-week     32561
native-country    32561
income            32561
dtype: int64

In [ ]:
df.isnull().sum()

age               0
workclass         0
final-weight      0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loos      0
hour-per-week     0
native-country    0
income            0
dtype: int64

# **Normalizando os dados**

In [ ]:
# biblioteca de normalizacao de dados
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
df_fit = df.apply(lambda x: labelencoder.fit_transform(x))
df_fit.head(5)

In [ ]:
# Selecionando a variavel de entrada
x = df_fit.iloc[:,0:14]
x

In [ ]:
# Selecionando a variavel de saida
y = df_fit.income
y

In [7]:
from sklearn.preprocessing import StandardScaler
scaler_x = StandardScaler()
x = scaler_x.fit_transform(x)

In [8]:
# treinando os dados
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size = 0.2)

## Regressão Linear usando SVM

In [34]:
# importando a biblioteca
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [35]:
svm = SVC(kernel='linear', random_state = 1)
# outros parametros - sigmoid, rbf
svm.fit(x_train, y_train)

SVC(kernel='linear', random_state=1)

In [28]:
y_pred = svm.predict(x_test)
accuracy_score(y_test, y_pred)

0.8037770612620913

In [36]:
# análisar as métricas do teste
from sklearn.metrics import accuracy_score, classification_report

print(f'Acurácia do modelo estabelecido é de {accuracy_score(y_test, y_pred)}')

Acurácia do modelo estabelecido é de 0.8590511285122063

## Random Forest

In [25]:
# importando a biblioteca
from sklearn.ensemble import RandomForestClassifier

In [29]:
random_forest = RandomForestClassifier(n_estimators=100, criterion='entropy', random_state = 0)
random_forest.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=0)

In [31]:
y_pred = random_forest.predict(x_test)

In [33]:
# análisar as métricas do teste
print(f'Acurácia do modelo estabelecido é de {accuracy_score(y_test, y_pred)}')

Acuracia do modelo estabelecido é de 0.8590511285122063